[credential]
	helper = manager-core

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	
[user]
	name = Anton Tetov
	email = anton@tetov.xyz
	signingkey = 2B4D0035AFF0F7DACE5B29D7337DDB574A8834DB
	
[alias]
  stash-all = stash save --include-untracked
  # We wanna grab those pesky un-added files!
  # https://git-scm.com/docs/git-stash

  glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  # No need for a GUI - a nice, colorful, graphical representation
  # https://git-scm.com/docs/git-log
  # via https://medium.com/@payload.dd/thanks-for-the-git-st-i-will-use-this-4da5839a21a4

  d = difftool
  
[commit]
  gpgSign = true
  
[push]
  default = simple
  # https://git-scm.com/docs/git-config#git-config-pushdefault

  followTags = true
  # https://git-scm.com/docs/git-config#git-config-pushfollowTags

[status]
  showUntrackedFiles = all
  # https://git-scm.com/docs/git-config#git-config-statusshowUntrackedFiles

[gpg]
  program = "C:/Users/an6802jo/program/scoop/apps/gpg4win/current/GnuPG/bin/gpg.exe"


[pull]
  rebase = true

[diff]
	tool = vsdiffmerge

[difftool]
	prompt = true

[merge]
	tool = vsdiffmerge

[mergetool]
	prompt = true

[mergetool "vsdiffmerge"]
	keepBackup = false
	trustExitCode = true

[core]
	excludesFile ="C:/Users/an6802jo/.gitignore"
